<div class="hero-area owl-carousel">
    <!-- Single Blog Post -->
    <div class="hero-blog-post bg-img bg-overlay" style="background-image: url('https://static.laodong.vn/Storage/NewsPortal/2019/1/23/654066/Pho-Ong-Do-1.jpg?w=960&crop=auto&scale=both');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Post Contetnt -->
                    <div class="post-content text-center">
                        <a href="video-post.html" class="post-title" data-animation="fadeInUp" data-delay="300ms">
                            Phố ông đồ tấp nập khách trước Tết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Single Blog Post -->
    <div class="hero-blog-post bg-img bg-overlay" style="background-image: url('https://i-dulich.vnecdn.net/2020/01/14/a-nh-2-bu-n-bo-hue-jpg-1578987-4544-9306-1578987578.jpg');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Post Contetnt -->
                    <div class="post-content text-center">
                        <a href="video-post.html" class="post-title" data-animation="fadeInUp" data-delay="300ms">Khác biệt của bún bò ở Huế và Hà Nội</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Single Blog Post -->
    <div class="hero-blog-post bg-img bg-overlay" style="background-image: url('https://i-dulich.vnecdn.net/2020/01/13/9-1577936343-1200x0-1578905963-1537-1578906095.jpg');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Post Contetnt -->
                    <div class="post-content text-center">
                            <a href="video-post.html" class="post-title" data-animation="fadeInUp" data-delay="300ms">
                                Đà Lạt, Lâm Đồng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>