<div class="post-sidebar-area left-sidebar mt-30 mb-30 bg-white box-shadow">
            <!-- Sidebar Widget -->
            <div class="single-sidebar-widget p-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5 style="text-align: center;">Phổ biến</h5>
                </div>
                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex">
                    <div class="post-thumbnail">
                        <img src="https://i-dulich.vnecdn.net/2020/01/01/img-7092-1577889752-1577889763-5929-1577892599.jpg" alt="">
                    </div>
                    <div class="post-content">
                        <a href="/5e1efb0db0afdf06907389e2" class="post-title">Gợi ý nghỉ dưỡng ở Cam Ranh dịp Tết</a>
                    </div>
                </div>
                <div class="single-blog-post d-flex">
                    <div class="post-thumbnail">
                        <img src="https://i-dulich.vnecdn.net/2020/01/13/9-1577936343-1200x0-1578905963-1537-1578906095.jpg" alt="">
                    </div>
                    <div class="post-content">
                        <a href="/5e1ef8f9b0afdf06907389e1" class="post-title">Đà Lạt, Lâm Đồng</a>
                    </div>
                </div>
                <div class="single-blog-post d-flex">
                    <div class="post-thumbnail">
                        <img src="https://wiki-travel.com.vn/Uploads/picture/teppi-150904010950-2-trang-an.jpg" alt="">
                    </div>
                    <div class="post-content">
                        <a href="/5e1ef64db0afdf06907389df" class="post-title">Tràng An - Bái Đính</a>
                    </div>
                </div>
            </div>

        </div>