<div class="post-sidebar-area right-sidebar mt-30 mb-30 box-shadow">
    <div class="single-sidebar-widget p-30">
        <!-- Section Title -->
        <div class="section-heading">
            <h5>Thể loại</h5>
        </div>

        <!-- Catagory Widget -->
        <ul class="catagory-widgets">
            <li><a href="/"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Du lịch</span> <span>35</span></a></li>
            <li><a href="/"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Ăn uống</span> <span>30</span></a></li>
        </ul>
    </div>



</div>