<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="title icon" href="img/title.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel='stylesheet' href='/admin-dashboard/style.css'>
    <title>Project</title>
</head>

<body>
    <!-- navbar -->
    <%-include('../admin-dashboard/navbar')-%>
    <!-- end of navbar -->
    <!-- modal -->
    <!-- end of modal -->
    <!-- table -->
    <%- include('../admin-dashboard/add-one')-%>
    <!-- end of table-->
    <!-- footer -->
    <footer class="bg-dark px-5">
        <div class="container-fluid row">
            <div class="row col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row text-light py-4">
                    <div class="col-lg-4 col-sm-6">
                        <h5 class="pb-3">About Us</h5>
                        <p class="small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat quam sapiente eligendi fugit delectus blanditiis sint odio sequi dolores officia voluptatum iste necessitatibus nihil, quas et vero quasi repellendus illum?
                        </p>
                    </div>
                    <div class="col-lg-2 col-sm-6 mx-auto">
                        <h5 class="pb-3">Visit Us</h5>
                        <ul class="list-umstyked">
                            <li>
                                <a href="#" class="footer-link">Home</a>
                            </li>
                            <li>
                                <a href="#" class="footer-link">Mission</a>
                            </li>
                            <li>
                                <a href="#" class="footer-link">Collection</a>
                            </li>
                            <li>
                                <a href="#" class="footer-link">Gallery</a>
                            </li>
                            <li>
                                <a href="#" class="footer-link">Customers</a>
                            </li>
                            <li>
                                <a href="#" class="footer-link">Picing</a>
                            </li>
                            <li>
                                <a href="#" class="footer-link">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <h5 class="pb-3">Need Help?</h5>
                        <ul class="list-umstyled">
                            <li>
                                <a href="#" class="footer-link text-uppercase">Customers Serivce</a>
                            </li>
                            <li>
                                <a href="#" class="footer-link text-uppercase">Online Chat</a>
                            </li>
                            <li>
                                <a href="#" class="footer-link text-uppercase">Support</a>
                            </li>
                            <li>
                                <a href="#" class="footer-link text-info">JoinTeam@email.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <h5 class="pb-3">Stay Connected</h5>
                        <p class="small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni laudantium velit totam ab, necessitatibus fugiat enim quidem rem pariatur, optio excepturi repellendus aliquam! Itaque, exercitationem sunt! Adipisci laborum delectus
                            libero!
                        </p>
                        <form class="mt-5">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Email Address">
                                <div class="input-group-append">
                                    <button type="button" class="btn bg-danger text-white text-uppercase font-weight-bold">Sign
                      Up</button>
                                </div>
                            </div>
                        </form>
                        <ul class="list-inline mt-3">
                            <li class="list-inline-item">
                                <a href=""><i class="fab fa-facebook-square fa-2x text-primary"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href=""><i class="fab fa-google-plus fa-2x text-danger"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href=""><i class="fab fa-instagram fa-2x text-primary"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href=""><i class="fab fa-twitter fa-2x text-info"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href=""><i class="fab fa-youtube fa-2x text-danger"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row  col-xl-12 text-center">
                    <div class="col text-center text-light border-top pt-3">
                        <p>&copy; 2018 Copyright, All Right Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end of footer -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>

</html>