<div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
                        <a href="#" class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border">Du Lịch
                            Việt</a>
                        <div class="bottom-border pb-3">
                            <img src="admin-dashboard/img/admin.png" width="50" alt="" class="rounded-circle mr-3">
                            <a href="#" class="text-white">Helen Smith</a>
                        </div>
                        <ul class="navbar-nav flex-column mt-4">
                            <li class="nav-item">
                                <a href="#" class="nav-link text-white p-2 mb-2 current">
                                    <i class="fas fa-home text-light fa-lg mr-3"></i>Trang Chủ</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link text-white p-2 mb-2 sidebar-link">
                                    <i class="fas fa-book-open text-light fa-lg mr-3"></i>Bài Viết</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link text-white p-2 mb-2 sidebar-link">
                                    <i class="far fa-building text-light fa-lg mr-3"></i>Thành Phố
                                </a>
                            </li>
                           
                            <li class="nav-item">
                                <a href="#" class="nav-link text-white p-2 mb-2 sidebar-link">
                                    <i class="fas fa-wrench text-light fa-lg mr-3"></i>Cài Đặt
                                </a>
                            </li>
                        </ul>
                    </div>